<ul class="list-unstyled">
    <li><a href="https://twitter.com/bwarfson"><i class="fa fa-twitter"></i> Twitter (bradwight)</a></li>
    <li><a href="https://github.com/bwarfson"><i class="fa fa-github"></i> GitHub (bradwight)</a></li>
    <li><a href="https://www.linkedin.com/in/bradwight"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
</ul>